.filters div
{
  display:table-cell;

}

.filter_item{

  padding-right: 20px;
}

.quick_line_all div
{
 display:table-cell;
 background: #66E9FA;
 width: 80%;
 padding-right: 450px;
 font-size: 150%;
 font-weight: bold;

}

.see div
{
  padding-right: 20px;
}

.top_row
{
    width: auto;
    height: 73px;
    background: #66E9FA;
    max-height: 73px;
}

.logo
{
    display: table-cell;
    padding-top: 14px;
    padding-left: 40px;
}

.filter_city
{
  display: table-cell;
  padding-left: 40px;
}

body 
{ 
    margin: auto;
}

.doctors_list ul
{
  list-style-position: inside;
  column-count: 4;
  list-style-type: none;
  height: 200px;
  background: #66E9FA;
  font-size: 120%;
}

    
.diagnostic ul
{
 list-style-position: inside;
  column-count: 4;
  list-style-type: none;
  height: 100px;
  background: #66E9FA;
  font-size: 120%; 
}

.foot 
{
  flex: 0 0 auto;
  background: #66E9FA; 
  font-size: 14px;
  font-style: italic;
}

.about_us
{
  font-size: 13px;
  font-weight: bold;
}